*,
p,
a {
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}
.iconhead{
  display: none !important;
  position: absolute;
  right: 20px;
  height: 50px;
  top: 15px;
}
.bigdesc {
  margin-top: -1%;
  display: flex;
  align-items: center;
  height: 100%;
  text-align: left;
  font-size: 19px;
}
.imginfo{
  height: 285px;
  width: 385px;
}
.events{
  display: flex;
  justify-content: center;
  padding: 50px 10px;
}
.textgold{
color: #B98C11;
font-size: 25px;
}
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: fit-content;
  padding: 10px 0;
}



.form-control{
  margin-top: 3%;
  width: 40%;
}
.btn {
  margin-top: 20px;
  width: 300px;
}



.formcontrol:focus-visible {
  outline: none !important;
}

.formcontrol:first-child {
  margin-top: 30px;
}

.formcontrol {
  height: 40px;
  margin-top: 20px;
  width: 300px;
  padding: 0 19px;
  border: none;
  border-radius: 8px;
  background-color: #E1E1E1;
}





.swiper-button-next,
.swiper-button-prev {
  color: #d4c446 !important;
}


.body {
  position: relative;
}

.scrolltotop {
  cursor: pointer;
  transition: .3s all ease-in-out;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  bottom: 55px;
  left: 75px;
  position: fixed;
  display: none;
  z-index: 99;
  background-color: #e6d051;
  color: white;
}

.descus {
  width: 70%;
  color: black;
  font-size: 20px;
}

.titleus {
  color: #d7b605;
  font-size: 27px;
}

.infochild {
  color: black;
  text-decoration: none;
}

.rowww {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.infochild:hover {
  color: black;
}

.info {
  padding-left: 10px;
  border-left: 3px double #e4b745;
  font-size: 20px;
}

.infochild {
  padding-left: 10px;
  padding-bottom: 10px;
  border-bottom: 3px dashed #e4b745;
  font-size: 17px;
}

.infos>a {
  text-decoration: none;
  color: black;
}

.infos {
  padding: 10px;
  display: flex;
  flex-direction: column;

}

.fstitle>span {
  padding-bottom: 5PX;
  border-bottom: 3px solid #e4b745;
}

.fstitle {
  margin: 0;
  font-size: 25px;
}

.contacthow {
  margin-top: 100px;
}

.callusimg {
  margin-top: 50px;
  width: 100%;
  height: 600px;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  border: 1px solid black;
}

.callusimgdiv {
  position: relative;
  height: fit-content;
  width: 100%;
}

.textcallus {
  font-size: 50px;
  font-weight: 700;
  position: absolute;
  top: 45%;
  text-align: center;
  right: 40%;
}

#ring {
  position: absolute;
  background-color: transparent;
  border: 5px solid #ddcd00;
  border-left-color: #e4b745;
  border-right-color: #e6d051;
  border-top-color: #d7b605;
  border-bottom-color: #e1c265;
  padding: 150px;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}
@keyframes loading {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
.offcanvasimg{
  width: 100px;
}
.loader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 99999;
}
.nav-link:hover{
  padding: 0px 8px;
  color: #e6d051;
}
.nav-link{
  padding: 0px 5px;
  margin: 16px 0;
  color: #707070;
}
.offcanvas-end {
  width: 50%;
}
.imgloader {
  position: relative;
  height: 200px;
}

.imgte {
  width: fit-content;
  height: fit-content;
  position: relative;
}

.img {
  background-color: white;
  margin: 11px 10px;
  max-height: 250px;
  width: 300px;
  transition: .3s all ease-in-out;
  cursor: pointer;
  filter: brightness(.3);
}

.imgtext {
  position: absolute;
  top: 40%;
  left: 35%;
  z-index: 100;
  font-weight: 600;
  font-size: 25px;
  color: white;

}

.imgone {
  margin: 10px;
  background-color: white;
  filter: brightness(.3);
  height: 523px;
  width: 300px;
  transition: .3s all ease-in-out;
  cursor: pointer;
}

.img:hover,
.imgone:hover {
  filter: brightness(.9) !important;


}

.ouractivity {
  margin-top: -1%;
  width: 100%;
  height: fit-content;
  padding: 50px;
  background-color: #F7F4E6;
}

.photos {
  display: flex;
  justify-content: center;
  padding: 0 10px;
  width: 100%;
}


.cole {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 22px;
}

.descbar {
  display: flex;
  justify-content: center;
  width: 100%;
}

.desc {
  text-align: center;
  font-size: 20px;
  width: 50%;
}

#video {
  width: 100%;
}

.navbar{
display: none;
}

.nav-lin {
  text-decoration: none;
  color: black;
  font-weight: 900;
}

.hey {
  padding-top: 60px;
}

#texticon {
  width: 130px;
}
.bi-chevron-down{
  display: none;
}
.dropdow-menu {
  list-style: none;
  position: fixed;
  top: 9%;
  right: 20px;
  width: 200px;
  z-index: 2000;
  text-align: right;
  height:fit-content;
  background-color: white;
  border: 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  display: none;
}
.dropdown-menu .dropdown-item{
  color: #707070;
  font-weight: 500;
  font-size: 14px;
}
.dropdown-item:hover{
  background-color:#F1F1F1 !important;
  color: black;
  cursor: pointer;
}
.dflex {
  width: 100%;
  display: flex;
  margin: 0 10px;
  justify-content: space-evenly !important;
}
.navbar-nav {
  justify-content: space-evenly;
  width: 100%;
}

video::-webkit-media-controls {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #E8F1F8;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fae751;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d4c446;
}
@media (max-width:1000px) {
  .cardimg {
    width: 14rem !important;
    height: 200px !important;
  }  .swiper {
    width: 14rem !important;
    height: 200px !important;
  }


.navbar-light .navbar-brand {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
  .iconhead{
    display: inline-block !important;
  }
  #navbarSupportedContent{
    display: none !important;
  }
  .bi-chevron-down{
    display: inline-flex !important;
  }
}
  @media (max-width:768px) {
  
    .navbar-links{
    display: none;
  }
  .iconhead{
    display: inline-block !important;
  }
  .toogle{
    display: inline-block !important;
  }
  .imginfodiv{
    display: flex;
    justify-content: center;
  }

.dflex {
    width: 100%;
    display: flex;
    margin: 0px 10px;
    justify-content: flex-start;
}
.titleinfo{
  font-size: 25px !important;
  text-align: center;
}
.heading ,#photosadd{
  font-size: 21px !important;
}.formtwo{
  margin-left: 2% !important;
}
.form-control {
  width: 100% !important;
}
 .br{
  display: none;
 }
  .row{
    flex-direction: column !important;
  }
  #putinfosubmit{
    width: 100%;
    margin: 0;
  }
.imginfo{
     height: 300px !important;
    width: 352px !important;
}
  .photos {
display: none;
  }
  .desc {
    width: 100% !important;
  }
  .cardimg {
    width: 10rem !important;
    height: 150px !important;
  }
  .swiper {
    width: 10rem !important;
    height: 150px !important;
  }

  .card {
    margin: 5px 0 !important;
  }
  .textcallus {
    font-size: 40px;
    text-align: center !important;
    margin-left: 40%;
  }
}